<header>
    <div class="logo-container">
        <img src="../../assets/images/logo.svg" alt="Logo Smartfit">
    </div>
    <div class="text-container">
        <div class="heading">
            <h1>REABERTURA</h1><h1>SMART FIT</h1>
            <span class="heading-border"></span>
        </div>
        <p>O horário de funcionamento das nossas unidades está seguindo os decretos de cada município. Por isso, confira
            aqui se a sua unidade está aberta e as medidas de
            segurança que estamos seguindo.</p>
    </div>
</header>