<ul class="legends">
    <li>
        <h3>Máscara</h3>
        <div class="content-legend">
            <div>
                <img src="../../../assets/images/required-mask.png" alt="">
                <span>Obrigatório</span>
            </div>
            <div>
                <img src="../../../assets/images/recommended-mask.png" alt="">
                <span>Recomendado</span>
            </div>
        </div>
    </li>
    <li>
        <h3>Toalha</h3>
        <div class="content-legend">
            <div>
                <img src="../../../assets/images/required-towel.png" alt="">
                <span>Obrigatório</span>
            </div>
            <div>
                <img src="../../../assets/images/recommended-towel.png" alt="">
                <span>Recomendado</span>
            </div>
        </div>
    </li>
    <li>
        <h3>Bebedouro</h3>
        <div class="content-legend">
            <div>
                <img src="../../../assets/images/partial-fountain.png" alt="">
                <span>Parcial</span>
            </div>
            <div>
                <img src="../../../assets/images/not_allowed-fountain.png" alt="">
                <span>Proibido</span>
            </div>
        </div>
    </li>
    <li>
        <h3>Vestiários</h3>
        <div class="content-legend">
            <div>
                <img src="../../../assets/images/allowed-lockerroom.png" alt="">
                <span>Liberado</span>
            </div>
            <div>
                <img src="../../../assets/images/partial-lockerroom.png" alt="">
                <span>Parcial</span>
            </div>
            <div>
                <img src="../../../assets/images/closed-lockerroom.png" alt="">
                <span>Fechado</span>
            </div>
        </div>
    </li>
</ul>