 .card {
   display: flex;
   flex-direction: column;
   background-color: var(--background);
   padding: 1rem;
   width: 21rem;
   height: 27rem;
   border-radius: 0.5rem;
   box-shadow: 0px 0px 2px 4px rgba(231, 231, 231, 1);
   -webkit-box-shadow: 0px 0px 2px 4px rgba(231, 231, 231, 1);
   -moz-box-shadow: 0px 0px 2px 4px rgba(231, 231, 231, 1);
 }

 .card span {
   color: var(--red);
   font-weight: 700;
   margin-bottom: 1rem;
 }

 .card span.opened {
   color: var(--green);
 }

 .card h2 {
   font-size: 1.7rem;
   color: var(--dark-grey);
   margin-bottom: 1rem;
 }

 .card p {
   color: var(--light-grey);
 }

 .card ul {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   gap: 1rem;
 }

 .card ul:first-of-type {
   margin-top: 1rem;
   border-top: 1px solid var(--light-text);
   padding-top: 1rem;
 }

 .card ul:last-of-type {
   margin-top: 1.5rem;
   width: 80%;
 }

 .card li {
   display: flex;
   flex-direction: column;
   color: var(--dark-grey);
   font-weight: 500;
   font-size: 0.8rem;
 }

 .card li b {
   color: var(--dark-grey);
   font-size: 1.2rem;
   margin-bottom: 0.8rem;
 }

 .card img {
   height: 4rem;
 }