<form action="" class="form-container">
        <div class="form-icon">
            <img src="../../assets/images/icon-hour.png" alt="icon-hour">
            <span>Horário</span>
        </div>
        <h2>Qual período quer treinar?</h2>
        <ul class="schedules">
            <li>
                <div>
                    <input type="radio" name="morning" value="morning" />
                    <label for="morning">Manhã</label>
                </div>
                <span>06:00 às 12:00</span>
            </li>
            <li>
                <div>
                    <input type="radio" name="afternoon" value="afternoon" />
                    <label for="afternoon">Tarde</label>
                </div>
                <span>12:01 às 18:00</span>
            </li>
            <li>
                <div>
                    <input type="radio" name="night" value="night" />
                    <label for="night">Noite</label>
                </div>
                <span>18:01 às 23:00</span>
            </li>
        </ul>
        <div class="show-closed-container">
            <input type="checkbox" name="show-closed" />
            <label for="show-closed">Exibir unidades fechadas</label>
        </div>
        <div class="button-form">
            <button>Encontrar unidade</button>
            <button>Limpar</button>
        </div>
</form>