*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gotham';
}

:root {
    --dark-grey: #333333;
    --light-grey: #808080;
    --yellow: #FFB612;
    --red: #dc0a17;
    --green: #2FC022;
    --light-text: #e7e7e7;
    --medium-text: #747474;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham/gotham-light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham/gotham-book.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham/gotham-bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gotham/gotham-black.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;
}