<form class="form-container" [formGroup]="formGroup">
    <div class="form-icon">
        <img src="../../assets/images/icon-hour.png" alt="icon-hour">
        <span>Horário</span>
    </div>
    <h2>Qual período quer treinar?</h2>
    <ul class="schedules">
        <li>
            <div>
                <input type="radio" name="hour" value="morning" formControlName="hour" />
                <label for="hour">Manhã</label>
            </div>
            <span>06:00 às 12:00</span>
        </li>
        <li>
            <div>
                <input type="radio" name="hour" value="afternoon" formControlName="hour" />
                <label for="hour">Tarde</label>
            </div>
            <span>12:01 às 18:00</span>
        </li>
        <li>
            <div>
                <input type="radio" name="hour" value="night" formControlName="hour" />
                <label for="hour">Noite</label>
            </div>
            <span>18:01 às 23:00</span>
        </li>
    </ul>
    <div class="show-closed-container">
        <div class="checkbox">
            <input type="checkbox" name="showClosed" formControlName="showClosed" />
            <label for="showClosed">Exibir unidades fechadas</label>
        </div>
        <span>Resultados encontrados: <b>{{results.length}}</b></span>
    </div>
    <div class="button-form">
        <button type="submit" (click)="onSubmit()">Encontrar unidade</button>
        <button (click)="onClean()">Limpar</button>
    </div>
</form>