.cards-container{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 1.2rem;
    gap: 2rem;
}

.cards-container li{
    list-style: none;
}
